<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css">
</head>
<body>
    <p>
        Comentarios
    </p>
    <div><label>
         Usuario: {{nombreUsuario}}</label></div>

    <div><label>
        Catedratico: {{nombreCatedratico}}</label></div>

    <div><label>Publicacion: {{publicacion}}</label></div>
    <br>
    <h4>Comentarios</h4>
    <div class="container"><table class="table table-striped">
        <tr *ngFor="let comentario of comentarios">
            <tbody>
                <td>
                    <label>Usuario: {{comentario.nombreUsuario}}</label>
                    <p> {{comentario.Mensaje}}</p>
                    </td>
            </tbody>
        </tr>
    </table>
    </div>

    <div class="caja-comentario">
        <textarea id="cuerpo" [(ngModel)]="cuerpo" name="cuerpo" rows="4" cols="50">{{cuerpo}}</textarea>

        <button (click)="guardarComentario(cuerpo)">Comentar</button>
    </div>
    <br>
</body>
</html>