<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles.css">
</head>

<body>

  <div>
    <strong>
      <p>
        Buscar Curso
      </p>
    </strong>
    
  </div>
  
  <div>
  </div>
  
  <div class="container">

    <a href="/pantallaPrincipal">Regresar</a>


    <hr>
    <div class="row">
      <div class="col1">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th></th>
              <th></th>
 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curso of cursos | filtroCurso:filterPost">
              <td>{{curso.CodigoCurso}}</td>
              <td>{{curso.Nombre}}</td>
              <td><button
                  (click)="verCatedraticos(curso.CodigoCurso, curso.Nombre)">Ver Catedráticos</button>
              </td>
              <td><button (click)="agregarAAprobados(curso.CodigoCurso)">Agregar a Cursos Aprobados</button></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h1 class="tabla-titulo">Catedraticos que imparten el curso: <br/> {{cursoSeleccionado}}</h1>

    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombres</th>
              <th>Aepllidos</th>
              <th>Opiniones</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let catedratico of catedraticosDelCurso">
              <td>{{catedratico.Nombres}}</td>
              <td>{{catedratico.Apellidos}}</td>
              <td><button (click)="verOpiniones(catedratico.idCatedratico)">Ver Opiniones</button></td>
              <td><button (click)="publicar(catedratico.idCatedratico,catedratico.Nombres,catedratico.Apellidos)">Publicar</button></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>